:root {
  --grey-50: #f2f2f2;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #333333;

  --blue: #2f80ed;

  --dark: #272525;
  --background-color: #ffffff;

  --shadow-sm: 0px 2px 2px rgba(0, 0, 0, 0.04);
}

/* Basic CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  opacity: 1;
  font-size: 14px;
  line-height: 135%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* links */

a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}

a .lucide {
  color: var(--blue);
}

a.project-item {
  color: #272525;
}

/* lucide icons */

.lucide {
  color: var(--dark);
  height: 16px;
  width: 16px;
  stroke-width: 2px;
}

.grey {
  color: var(--grey-600);
}

.grey .lucide {
  color: var(--grey-600);
}

.light-grey {
  color: var(--grey-400);
}

.light-grey .lucide {
  color: var(--grey-600);
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
}

h1.large {
  font-size: 32px;
  line-height: 32px;
}

h2 {
  margin: 0px;
  font-weight: 300;
  color: rgb(168, 168, 168);
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

h4 {
  font-weight: 500;
  margin-bottom: 0px;
}

h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 5px auto 5px auto;
}

p {
  margin: 0px;
  color: #363636;
  line-height: 200%;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sm {
  font-size: 12px;
}

.lg {
  font-size: 16px;
  line-height: 135%;
}

.xl {
  font-size: 18px;
  line-height: 140%;
}

.xxl {
  font-size: 28px;
  line-height: 135%;
}

.grey {
  color: #828282;
}

.mono {
  font-family: "Fira Code", monospace;
}

.spacer20 {
  height: 20px;
  width: 20px;
}

.spacer40 {
  height: 40px;
  width: 40px;
}

.spacer80 {
  height: 80px;
  width: 80px;
}

/* gap */

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.gap12 {
  gap: 12px;
}

.gap16 {
  gap: 16px;
}

.gap20 {
  gap: 20px;
}

.gap24 {
  gap: 24px;
}

.gap32 {
  gap: 32px;
}

.gap44 {
  gap: 44px;
}

.gap52 {
  gap: 52px;
}

.wrapper {
  width: 540px;
  max-width: 540px;
  min-width: 120px;
  text-align: left;
  padding: 0px 20px 0px 20px;
  margin: 0px auto 0px auto;
  flex: 1;
}

.wrapper.nopadding {
  margin: 0px auto;
}

/* width */

.w-full {
  width: 100%;
}

.w-16 {
  max-width: 16px;
}

/* flexbox */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* justify content */

.j-content-center {
  justify-content: center;
}

.j-content-space-between {
  justify-content: space-between;
}

/* align items */

.a-items-center {
  align-items: center;
}

/* custom */

.company {
  color: #000000;
  font-weight: 600;
}

#intro {
  font-weight: 300;
}

.project-item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
  min-width: 260px;
}

.project-item:hover {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  z-index: 3;
}

.project-item .project-th {
  height: 260px;
}

.project-related {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
}

.project-related:hover {
  text-decoration: none;
  transform: translateY(-4px);
  transition: 0.2s ease-in-out;
}

.project-th {
  margin: 0px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 16px;
  width: 100%;
  position: relative;
  text-decoration: none;
  border: 1px solid #00000012;
  transition: 0.2s ease-in-out;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(0, 0, 0, 0.03); */
}

.project-th:hover {
  border: 1px solid #0000005c;
  transition: 0.2s ease-in-out;
}

.project-th:hover img {
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}

.project-th img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: 0.2s ease-in-out;
}

.project-th-logo {
  width: 28%;
  max-width: 180px;
  margin: 20% 6% 6% 6%;
  height: max-content;
  object-fit: scale-down;
}

.info-pic {
  font-size: 12px;
  padding: 4px 8px;
  margin: 4px;
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 4px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  border: 1px solid #f2f2f2;
  color: #828282;
  border-radius: 6px;
  padding: 2px 6px;
}

.light {
  color: #828282;
  /* flex-grow: 1; */
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 52px auto 0px auto;
  font-weight: 400;
}

.year {
  font-family: "Fira Code", monospace;
  white-space: nowrap;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 99;
  top: 0px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(243, 243, 243);
  height: 64px;
  color: #363636;
  transition: ease-in-out 0.2s;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 99;
  top: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  /* backdrop-filter: blur(5px); */
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(243, 243, 243);
  height: 64px;
  color: #363636;
  transition: ease-in-out 0.2s;
  box-sizing: border-box;
}

.navbar-name-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  font-weight: 400;
}

.navbar-name-container p,
.light {
  line-height: 14px;
}

.navbar-name-container:hover {
  text-decoration: none;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  transition: ease-in-out 0.3s;
  gap: 2px;
}

.navbar-link {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: none;
  border-radius: 24px;
  padding: 8px 12px;
  transition: ease-in-out 0.3s;
  color: #363636;
  outline: 0px solid rgb(243, 243, 243);
  box-sizing: border-box;
}

.navbar-link:hover {
  background-color: rgb(243, 243, 243);
  outline: 2px solid rgb(243, 243, 243);
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.navbar-link.active {
  font-weight: 600;
}

.cta {
  display: flex;
  align-items: center;
  height: 36px;
  outline: 1px solid #e0e0e0;
  padding: 8px 12px;
  background-color: none;
  border-radius: 24px;
  transition: ease-in-out 0.3s;
  color: #363636;
  margin-left: 12px;
  box-sizing: border-box;
}

.cta:hover {
  background-color: #363636;
  color: white;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.menu-button {
  display: none;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  padding: 8px 12px;
  background-color: none;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #363636;
  box-sizing: border-box;
}

.menu-button:hover {
  background-color: #f1f1f1;
  transition: ease-in-out 0.3s;
}

.menu-button-active {
  background-color: #e0e0e0;
  transition: ease-in-out 0.3s;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  border-bottom: 1px solid rgb(243, 243, 243);
  padding: 16px;
  background-color: white;
  transition: display 0.3s, top 0.3s;
  box-sizing: border-box;
  top: -200px;
}

.menu-link {
  color: #333333;
  white-space: nowrap;
}

.menu-link:hover {
  text-decoration: underline;
}

.hidden {
  top: -70px;
}

.navbar-links a {
  color: #363636;
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 52px 0px 0px 0px;
  transition: 0.4s;
}

.no-margin {
  margin: 0px !important;
}

.header-text {
  display: flex;
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.avatar {
  background-image: url("../images/dgc.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.avatar.small {
  height: 40px;
  width: 40px;
  min-width: 40px;
}

.avatar:hover {
  background-image: url("../images/dgc2.png");
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:36px;filter:drop-shadow(0 0 100px rgba(255, 196, 10, 0.9));'><text y='80%'>🌞</text></svg>")
      16 0,
    auto;
}

.last {
  margin: 0px;
}

.info-grid {
  display: grid;
  margin-top: 12px;
  grid-template-columns: 40px auto;
  gap: 16px;
  align-items: center;
}

.pill {
  background-color: white;
  color: #4f4f4f;
  padding: 2px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  white-space: nowrap;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.logobox {
  height: 52px;
  min-width: 52px;
  box-sizing: border-box;
  border: 1px solid rgba(130, 130, 130, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

.logobox img {
  height: 100%;
}

.logobox .tooltip {
  position: absolute;
  margin-top: -62px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  /* transition: opacity 0.5s, top 0.5s; */
  transition: 0.2s ease-in-out, opacity 0.2s;
  width: fit-content;
  font-size: 12px;
  z-index: 1;
  opacity: 0;
}

.logobox:hover .tooltip {
  opacity: 1;
  position: absolute;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.logobox.figma {
  background-color: #30333c;
}

.logobox.webflow {
  background-color: #4353ff;
}

.logobox.ps {
  background-color: #001e36;
}

.logobox.id {
  background-color: #49021f;
}

.logobox.openai {
  background-color: #74aa9c;
}

.content {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

.content.wide {
  margin: 0px -8%;
  width: 116%;
  overflow: hidden;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 16px;
  width: 100%;
}

.content.big {
  font-size: 22px;
  font-weight: 100;
  line-height: 135%;
}

.padding-16 {
  padding: 16px 0px;
}

.section {
  margin: 52px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.section.horizontal {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  background-color: none;
  padding: 8px 12px;
  border-radius: 8px;
  margin: -8px -12px;
  transition: 0.2s ease-in-out;
}

.section.horizontal:hover {
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.section.horizontal:hover .line-separator {
  background-color: #e0e0e0;
  transition: 0.2s ease-in-out;
}

.content.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.fa {
  font-size: 20px;
  margin-right: 15px;
  opacity: 0.4;
  width: auto;
  border-radius: 3px;
  text-align: center;
  color: #7b61ff;
}

.fa:hover {
  text-decoration: none;
  opacity: 1;
}

.flag {
  border-radius: 2px;
  margin-left: 4px;
}

.item-name {
  color: var(--dark);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.item-name .lucide {
  color: inherit;
}

.link {
  color: #2f80ed;
}

.line-separator {
  background-color: var(--grey-100);
  height: 1px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

/* carousel */

.carousel {
  display: flex;
  width: 100%; /* Full width of the container */
  transition: transform 0.5s ease; /* Added smooth transition */
}

.carousel-control {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.carousel-control .lucide {
  color: var(--grey-700);
}

.carousel-control:hover {
  background-color: #f2f2f2;
  transition: 0.2s ease-in-out;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 0, 0, 0));
  z-index: 1;
}

.badge {
  border: 1px solid #f2f2f2;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  gap: 5px;
  color: #000000;
  width: fit-content;
  transition: 0.2s ease-in-out;
  height: 44px;
  width: 44px;
}

.badge .tooltip {
  position: absolute;
  margin-top: -62px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  /* transition: opacity 0.5s, top 0.5s; */
  transition: 0.2s ease-in-out, opacity 0.2s;
  width: fit-content;
  font-size: 12px;
  z-index: 1;
  opacity: 0;
}

.badge:hover .tooltip {
  opacity: 1;
  position: absolute;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.badge .lucide {
  color: var(--grey-600);
}

.badge img {
  max-height: 24px;
}

.badge:hover {
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.badge:active {
  border: 1px solid #bdbdbd;
}

.green-dot {
  width: 10px;
  height: 10px;
  background-color: #27ae60;
  border-radius: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.gallery.single {
  grid-template-columns: 1fr;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}

.grid.single {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;
}

.mobile-display {
  display: none;
}

.desktop-display {
  display: contents;
}

.main-img {
  width: 160%;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin: 0% -30%;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  transition: ease-in-out 0.2s;
}

.main-img:hover img {
  transform: scale(1.14);
  transition: ease-in-out 0.2s;
}

.main-img img {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  object-fit: cover;
  transition: ease-in-out 0.2s;
}

.article-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow-sm);
}

.article-img.expandable {
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.article-img.expandable:hover {
  transform: scale(1.03);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.article-img.gallery {
  border-radius: 0px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.article-img.gallery:hover {
  filter: contrast(80%);
  transform: none;
}

.large-pic {
  width: 120%;
  background-image: url("images/iceland.png");
  background-size: cover;
  height: auto;
  border-radius: 8px;
  margin: 0% -10%;
  transform: rotate(-2deg);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.large-pic img {
  width: 100%;
  margin: -10px 0px -10px 0px;
}

.textfield {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  max-width: 100%;
  min-width: 100%;
  padding: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  color: #000000;
  margin-top: 4px;
  min-height: 18px;
}

.textfield:hover {
  border: 1px solid #828282;
}

.textfield:focus {
  border: 1px solid #2f80ed;
}

.textfield:active {
  border: 1px solid #ff0000;
}

.textfield::placeholder {
  color: #bdbdbd;
}

.textfield.multi {
  min-height: 200px;
}

form .button {
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px;
  min-height: 18px;
}

form .button:hover {
  background-color: #266ecd;
}

form .button:active {
  background-color: #1f60b5;
}

.success-message {
  color: #219653;
}

.error {
  color: red;
  display: none;
  margin-top: 5px;
}

.breadcrumb-button {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  color: var(--grey-400);
  transition: 0.1s ease-in-out;
  font-weight: 400;
}

.breadcrumb-button.active {
  color: var(--grey-700);
  font-weight: 500;
}

.breadcrumb-button .lucide {
  color: var(--grey-500);
}

.breadcrumb-button:hover {
  color: var(--grey-700);
  gap: 6px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

/* Firefox old*/
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink-image {
  -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
  animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.grid-about {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 140%;
  margin: auto -20%;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.flip-card {
  background-color: transparent;
  width: auto;
  height: 200px;
  perspective: 1000px;
  border-radius: 12px;
}

.flip-card:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='72' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>🔍</text></svg>")
      16 0,
    auto;
}

.img-1 {
  transform: rotate(2deg);
}

.img-2 {
  transform: rotate(-2deg);
  height: 208px;
}

.img-3 {
  transform: rotate(4deg);
}

.img-4 {
  transform: rotate(-3deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.flip-card-front {
  background-color: #000;
  color: black;
}

.flip-card-front img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.flip-card-back {
  background-color: #f4eacc;
  background-image: url("../images/verso-pattern.png");
  background-size: contain;
  font-family: "Homemade Apple", "Fira Code", monospace;
  font-size: 12px;
  color: black;
  transform: rotateY(180deg);
  text-align: left;
}

.copy-email-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.email-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  background-color: none;
  border-radius: 20px;
  padding: 4px 8px;
  margin-left: -8px;
}

.email-text p {
  color: #828282 !important;
}

.email-text:hover {
  background-color: rgb(243, 243, 243);
}

.copied-text {
  position: relative;
  top: -60px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, top 0.5s;
  width: fit-content;
  font-size: 12px;
}

.board-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12px;
  justify-content: space-around;
  width: 108%;
  margin: 52px -4%;
}

.board-item {
  overflow: hidden;
  transition: ease-in-out 0.4s;
  border-radius: 8px;
}

.board-item img {
  display: block;
  max-width: 100%;
}

.board-item:hover {
  transform: rotate(-2deg) scale(1.05);
  z-index: 2;
  box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
  transition: ease-in-out 0.2s;
}

footer {
  width: 540px;
  max-width: 540px;
  min-width: 120px;
  /* border-top: 1px solid rgb(243, 243, 243); */
  padding: 52px 20px;
  color: rgb(168, 168, 168);
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  color: #333333;
}

footer a {
  color: #828282;
}

footer a:hover {
  color: #333333;
  text-decoration: none;
}

#mobile-hidden {
  display: block;
}

/* game case */

.game-case-container {
  display: flex;
  flex-direction: row;
  transform: rotate(-4deg);
  transition: 0.2s ease-in-out;
}

.game-case-container img {
  width: 100%;
}

.game-case-front {
  height: auto;
  width: 180px;
  border-radius: 2px 6px 6px 2px;
  overflow: hidden;
  padding: 2px;
  transition: 0.2s ease-in-out;
}

.game-case {
  margin-left: -8px;
  border-radius: 6px;
  box-shadow: var(--shadow-sm), inset 0 0 4px rgba(255, 255, 255, 1);
  overflow: hidden;
  padding: 3px;
  background-color: #d6d6d6;
  height: auto;
  width: 100%;
  border: 1px solid #f9f9f9;
  outline: 2px solid #e4e4e4;
}

.game-cover {
  border-radius: 0px 2px 2px 0px;
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  margin-bottom: -5px;
}

.game-cover-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(
    214deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 24.61%,
    rgba(255, 255, 255, 0) 49.71%
  );
  transition: 0.2s ease-in-out;
}

.game-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-case-side-container {
  position: relative;
  display: flex;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
  transform: rotateY(90deg);
  right: -11px;
  transition: 0.2s ease-in-out;
  border-radius: 4px 0px 0px 4px;
}

.game-case-side {
  width: 12px;
  background-color: #d6d6d6;
  box-shadow: var(--shadow-sm), inset 0 0 4px rgba(255, 255, 255, 1);
  padding: 3px 0px;
  transition: 0.2s ease-in-out;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}

.game-case-side img {
  height: 100%;
}

.game-case-container:hover,
.game-case-container:active {
  transform: rotate(-8deg);
  transition: 0.2s ease-in-out;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:36px;filter:drop-shadow(0 0 100px rgba(255, 196, 10, 0.9));'><text y='80%'>⚔️</text></svg>")
      16 0,
    auto;
}

.game-case-container:hover .game-case-front {
  transform: rotateY(20deg);
  transition: 0.2s ease-in-out;
  border-radius: 0px 6px 6px 0px;
}

.game-case-container:hover .game-case-side-container {
  transform: rotateY(40deg);
  transition: 0.2s ease-in-out;
  right: -7px;
  border-top: 2px solid #d2d2d2;
  border-bottom: 2px solid #d2d2d2;
}

.game-case-container:hover .game-case-side {
  background-color: #b4b4b4;
}

.game-case-container:hover .game-cover-gradient {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 800px) {
  /* For mobile: */
  .wrapper {
    margin: 0px auto 0px auto;
    width: 100%;
  }

  #mobile-hidden {
    display: none;
    align-items: flex-start;
  }

  #invert-mobile-column {
    flex-direction: column;
    align-items: flex-start;
  }

  #invert-mobile-row {
    flex-direction: row;
  }

  .content.wide {
    margin: 0px -20px;
    padding-left: 20px;
    width: 100vw;
  }

  .main-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 320px;
    margin: 0px;
  }

  .main-img img {
    object-position: top left;
  }

  .large-pic {
    width: auto;
    background-image: url("images/iceland.png");
    margin: 0% -5%;
  }

  .small {
    min-width: 40px;
    min-height: 40px;
  }

  .navbar-name-container .flex-row.gap8 {
    flex-direction: column;
    gap: 0px;
  }

  .navbar-links-container {
    display: none;
  }

  .menu-button {
    display: flex;
  }

  .menu-container {
    top: -200px;
  }

  .page-header {
    margin: 20px auto 0px auto;
  }

  .section .flex-column.gap16 .flex-row.gap16 {
    gap: 6px;
  }

  /* .section.horizontal .flex-row {
    flex-direction: column;
    gap: 0px;
  } */

  .section.horizontal .light {
    white-space: nowrap;
  }

  .project-item {
    flex-direction: column;
  }

  .project-item .flex-column {
    margin: 0px;
  }

  .project-th {
    width: 100%;
    height: 160px;
    margin: 0px;
  }

  .project-th-logo {
    height: max-content;
  }

  .mobile-display {
    display: contents;
  }

  .desktop-display {
    display: none;
  }

  .grid-about {
    grid-template-columns: 1fr 1fr;
    width: 110%;
    margin: auto -5%;
    padding: 0px 20px;
    transition: 0.2s ease-in-out;
  }

  .light {
    white-space: normal;
  }

  .flip-card img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
  }

  .section .flex-row.gap44 {
    flex-direction: column;
  }

  .board-grid {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    max-width: 540px;
    margin: 0px auto 0px auto;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    padding: 40px 20px;
  }

  footer .spacer20 {
    display: none;
  }

  footer .flex-column.gap8 .flex-column.gap8 {
    flex-direction: row;
  }

  .copy-email-container {
    height: 24px;
  }

  .board-grid {
    width: 100%;
    margin-left: 0px;
  }
}
