

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    opacity: 1;
    background-size: 10px 10px;
    line-height: 120%;
}

a {
    text-decoration: none;
    color:#0d3ddb;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.company {
    color: #000000;
    font-weight: 600;
}

.position {
    color: rgb(107, 107, 107);
    margin-left: 20px;
}

.year {
    font-family: monospace;
    margin-left: 20px;
}

h1 {
    font-size: 20px;
    margin: 0px auto 5px auto;
    font-weight: 800;
}

h2 {
    margin-top: 0px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(168, 168, 168);
}

h3 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 5px auto 5px auto;
}

p {
    font-size: 15px;
    margin: 0px auto 20px auto;
    font-weight: 400;
    color: #363636;
}

.wrapper {
    max-width: 580px;
    text-align: left;
    margin: 100px auto 0px auto;
    padding: 30px;
}

.row {
    margin-bottom: 30px;
}

.column {
    float: left;
    margin-bottom: 30px;
}

.left {
    width: 17%;
}

.right {
    width: 83%;
}

.section {
    margin-top : 20px;
}

.section-body {
    margin: 0px auto 0px auto;
}

.fa {
    font-size: 20px;
    margin-right: 15px;
    opacity: 0.4;
    width: auto;
    border-radius: 3px;
    text-align: center;
    color: #7B61FF;

}

.fa:hover {
    text-decoration: none;
    opacity: 1;
}

.map {
    height: 280px;
    background-image: url(images/Berlin.png);
    background-size: contain;
    border-radius: 20px;
}

.city {
    font-size: 12px;
    color: rgb(168, 168, 168);
    text-align: right;
    margin-top: 5px;
}

footer {
    border-top: 1px solid rgb(243, 243, 243);
    padding-top: 25px;
    color:rgb(168, 168, 168);
    font-size: 12px;
    margin: 80px auto 0px auto;
}