

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    opacity: 1;
    background-size: 10px 10px;
    line-height: 120%;
    font-size: 14px;
    line-height: 135%;
}

a {
    text-decoration: none;
    color:#0d3ddb;
    font-weight: 400;
}

a.grey {
    color:#72788c;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 520px;
    min-width: 120px;
    text-align: left;
    padding: 0px 20px 0px 20px;
    margin: 80px auto 0px auto;
}

.wrapper.nopadding {
    margin: 0px auto;
}

.company {
    color: #000000;
    font-weight: 600;
}

.position {
    color: rgb(107, 107, 107);
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.year {
    font-family: 'Fira Code', monospace;
}

.mainpic {
    background-image: url("images/dgc.png");
    background-size: cover;
    height: 72px;
    width: 72px;
    border-radius: 50%;
}

.mainpic:hover {
    background-image: url("images/dgc2.png");
}

h1 {
    font-size: 18px;
    margin: 0px;
    font-weight: 600;
}

h1.large {
    font-size: 32px;
    line-height: 32px;
}

h2 {
    margin-top: 0px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(168, 168, 168);
}

h3 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 5px auto 5px auto;
}

p {
    margin: 0px auto;
    font-weight: 400;
    color: #363636;
}

.last {
    margin: 0px;
}

.pill {
    background-color: #7B61FF;
    color: aquamarine;
    padding: 2px 8px;
    margin: auto 0px auto 12px;
    border-radius: 4px;
}

.logobox {
    height: 52px;
    width: 52px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s

}

.logobox:hover {
        margin-top: -10px;
        transition: 0.2s;
        transition-timing-function: ease-in-out;
}

.logobox.figma{
    background-color: #30333C;
}

.logobox.webflow {
    background-color: #4353FF;
}

.logobox.ps {
    background-color: #001E36;
}

.content {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
}

.padding-16 {
    padding: 16px 0px;
}

.section {
    margin: 52px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.section.horizontal {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.content.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.fa {
    font-size: 20px;
    margin-right: 15px;
    opacity: 0.4;
    width: auto;
    border-radius: 3px;
    text-align: center;
    color: #7B61FF;

}

.fa:hover {
    text-decoration: none;
    opacity: 1;
}

.flag {
    border-radius: 2px;
    margin-left: 4px;
}

.link {
    color: #000000;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

footer {
    border-top: 1px solid rgb(243, 243, 243);
    padding: 20px 0px;
    color:rgb(168, 168, 168);
    font-size: 12px;
    margin: 80px auto 0px auto;
}